name = "cloud-mail"
main = "src/index.js"
compatibility_date = "2025-06-04"
keep_vars = true
account_id = "<YOUR_CLOUDFLARE_ACCOUNT_ID>"

[observability]
enabled = true

[[d1_databases]]
binding = "db"
database_name = "cloud-mail"
database_id = "<YOUR_D1_DATABASE_ID>"

[[kv_namespaces]]
binding = "kv"
id = "<YOUR_KV_NAMESPACE_ID>"

[[r2_buckets]]
binding = "r2"
bucket_name = "cloud-mail"

[assets]
binding = "assets"
directory = "./dist"
not_found_handling = "single-page-application"
run_worker_first = true

[triggers]
crons = ["0 16 * * *"]

[[email_routing]]
enabled = true

[[routes]]
pattern = "mail.<YOUR_DOMAIN>/*"
zone_name = "<YOUR_DOMAIN>"

[vars]
orm_log = false
domain = ["<YOUR_DOMAIN>"]
admin = "admin@<YOUR_DOMAIN>"
jwt_secret = "<RANDOM_STRING_32_CHARS>"
init_secret = "<DIFFERENT_RANDOM_STRING>"
allowed_origins = ["https://mail.<YOUR_DOMAIN>"]

[build]
command = "pnpm --prefix ../mail-vue install && pnpm --prefix ../mail-vue run build"
